<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{311,1},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jupiter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{621,1},{308,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kapaibeimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{1,225},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{311,225},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercury.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{621,311},{308,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{1,449},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neptune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{311,449},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pluto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{1,673},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{311,673},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{621,621},{308,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uranus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{1,897},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>venus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{311,897},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardResource.png</string>
            <key>size</key>
            <string>{844,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c17569f70078d819f31dca27853c8e79:8f344a67a3f760c7c6f84c00bdb85a85:819fe8069db3615d08ab46feb85b6f7a$</string>
            <key>textureFileName</key>
            <string>CardResource.png</string>
        </dict>
    </dict>
</plist>
