<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{1207,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1105,119}</string>
                <key>spriteSourceSize</key>
                <string>{1105,119}</string>
                <key>textureRect</key>
                <string>{{736,187},{1105,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{368,256}</string>
                <key>textureRect</key>
                <string>{{0,187},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{109,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huozhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,45}</string>
                <key>spriteSourceSize</key>
                <string>{109,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{109,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nickName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{739,0},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nindemima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,44}</string>
                <key>textureRect</key>
                <string>{{207,0},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,66}</string>
                <key>spriteSourceSize</key>
                <string>{134,66}</string>
                <key>textureRect</key>
                <string>{{407,0},{134,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>querenmima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,45}</string>
                <key>spriteSourceSize</key>
                <string>{198,45}</string>
                <key>textureRect</key>
                <string>{{541,0},{198,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weibo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{1073,0},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{939,0},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{368,256}</string>
                <key>textureRect</key>
                <string>{{368,187},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dl.png</string>
            <key>size</key>
            <string>{1841,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18600c8cb40a9039dcd7519a50c027e:da2d20b9639c88cc9dd76b26889ca2de:c0cedd497c72d28e4eb9594b10319c7e$</string>
            <key>textureFileName</key>
            <string>dl.png</string>
        </dict>
    </dict>
</plist>
