<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingbiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1293,134}</string>
                <key>spriteSourceSize</key>
                <string>{1293,134}</string>
                <key>textureRect</key>
                <string>{{582,1083},{1293,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankaung6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,88}</string>
                <key>spriteSourceSize</key>
                <string>{251,88}</string>
                <key>textureRect</key>
                <string>{{1628,1219},{251,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,322}</string>
                <key>spriteSourceSize</key>
                <string>{289,322}</string>
                <key>textureRect</key>
                <string>{{1,1083},{289,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{582,1219},{224,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youbiankuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{672,1219},{224,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youbiankuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{762,1219},{224,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youbiankuang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,149}</string>
                <key>spriteSourceSize</key>
                <string>{251,149}</string>
                <key>textureRect</key>
                <string>{{1122,1219},{251,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{852,1219},{220,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuobiankuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,322}</string>
                <key>spriteSourceSize</key>
                <string>{288,322}</string>
                <key>textureRect</key>
                <string>{{292,1083},{288,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{942,1219},{220,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuobiankuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{1032,1219},{220,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuobiankuang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,149}</string>
                <key>spriteSourceSize</key>
                <string>{251,149}</string>
                <key>textureRect</key>
                <string>{{1375,1219},{251,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,88}</string>
                <key>spriteSourceSize</key>
                <string>{251,88}</string>
                <key>textureRect</key>
                <string>{{1628,1309},{251,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameResource.png</string>
            <key>size</key>
            <string>{1922,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fff6da1d8e40466419098963b8f5b46:37e48493e8383d2db7f48e010884c78d:1e4222c98f73426c8cad3ebfacc751e1$</string>
            <key>textureFileName</key>
            <string>GameResource.png</string>
        </dict>
    </dict>
</plist>
