<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijingkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1502,665}</string>
                <key>spriteSourceSize</key>
                <string>{1502,665}</string>
                <key>textureRect</key>
                <string>{{0,229},{1502,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxidengjiyuchenghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,229}</string>
                <key>spriteSourceSize</key>
                <string>{834,229}</string>
                <key>textureRect</key>
                <string>{{98,0},{834,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>grade.png</string>
            <key>size</key>
            <string>{1502,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64d678a1e5bb359dbc2246b3400337ee:07bf5f32fc546f6a8f9d5a038052c071:a6531bada6d68b221554bc55ddc308fc$</string>
            <key>textureFileName</key>
            <string>grade.png</string>
        </dict>
    </dict>
</plist>
