<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,119}</string>
                <key>spriteSourceSize</key>
                <string>{798,119}</string>
                <key>textureRect</key>
                <string>{{647,406},{798,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,258}</string>
                <key>spriteSourceSize</key>
                <string>{726,258}</string>
                <key>textureRect</key>
                <string>{{0,593},{726,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{588,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,187}</string>
                <key>spriteSourceSize</key>
                <string>{647,187}</string>
                <key>textureRect</key>
                <string>{{0,406},{647,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{98,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{490,187},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,187}</string>
                <key>spriteSourceSize</key>
                <string>{940,187}</string>
                <key>textureRect</key>
                <string>{{726,593},{940,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuichuyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{1078,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxifangfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,219}</string>
                <key>spriteSourceSize</key>
                <string>{569,219}</string>
                <key>textureRect</key>
                <string>{{980,187},{569,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kapai.png</string>
            <key>size</key>
            <string>{1666,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e756d653c77e72bf98393a1ec26858b0:0728c836341c7362dd745520d2f37ccd:1df5543964ffeec44412658424797b50$</string>
            <key>textureFileName</key>
            <string>kapai.png</string>
        </dict>
    </dict>
</plist>
