<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{490,187},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,119}</string>
                <key>spriteSourceSize</key>
                <string>{798,119}</string>
                <key>textureRect</key>
                <string>{{0,374},{798,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,240}</string>
                <key>spriteSourceSize</key>
                <string>{708,240}</string>
                <key>textureRect</key>
                <string>{{0,561},{708,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{980,187},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,187}</string>
                <key>spriteSourceSize</key>
                <string>{647,187}</string>
                <key>textureRect</key>
                <string>{{798,374},{647,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{588,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medalBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{1078,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{98,0},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,187}</string>
                <key>spriteSourceSize</key>
                <string>{940,187}</string>
                <key>textureRect</key>
                <string>{{708,561},{940,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuichuyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,187}</string>
                <key>spriteSourceSize</key>
                <string>{490,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{490,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kapai.png</string>
            <key>size</key>
            <string>{1648,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f89dfd92bfb194a3b8af3ae4bf135550:2101b5020cd2c4426cc94bc31223d779:1df5543964ffeec44412658424797b50$</string>
            <key>textureFileName</key>
            <string>kapai.png</string>
        </dict>
    </dict>
</plist>
