<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingGif.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,296}</string>
                <key>spriteSourceSize</key>
                <string>{326,296}</string>
                <key>textureRect</key>
                <string>{{0,0},{326,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,276}</string>
                <key>spriteSourceSize</key>
                <string>{1200,276}</string>
                <key>textureRect</key>
                <string>{{326,0},{1200,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,296},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1920,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6796b247bf95b8de0be5e22c66122157:54dd39c2db1ffe29e4f96827f1c83cd2:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
