<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,276}</string>
                <key>spriteSourceSize</key>
                <string>{1200,276}</string>
                <key>textureRect</key>
                <string>{{0,0},{1200,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindutiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1135,14}</string>
                <key>spriteSourceSize</key>
                <string>{1135,14}</string>
                <key>textureRect</key>
                <string>{{0,276},{1135,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindutiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,14}</string>
                <key>spriteSourceSize</key>
                <string>{667,14}</string>
                <key>textureRect</key>
                <string>{{1135,276},{667,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1802,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:059c6a8d28c4b7644479ccc2b57f63c2:ea6d54b91b5791636139864f8c0c515e:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
