<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijingkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1129,500}</string>
                <key>spriteSourceSize</key>
                <string>{1129,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{1129,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{1129,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxixunzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{1227,0},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>medal.png</string>
            <key>size</key>
            <string>{1796,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185eb77ba97820d36ce55adf61a56f43:b5ffde7ceeb1b53c792f0c0da47064f9:f281c77b2ec6d7cfc3ca6a8c37d33c8f$</string>
            <key>textureFileName</key>
            <string>medal.png</string>
        </dict>
    </dict>
</plist>
