<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijingkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1502,665}</string>
                <key>spriteSourceSize</key>
                <string>{1502,665}</string>
                <key>textureRect</key>
                <string>{{0,228},{1502,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxixunzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{98,0},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>medal.png</string>
            <key>size</key>
            <string>{1502,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e33d5026e97d2fb410bf926c221a80:e1fba9acddfd304d40cbd25bee9f0533:f281c77b2ec6d7cfc3ca6a8c37d33c8f$</string>
            <key>textureFileName</key>
            <string>medal.png</string>
        </dict>
    </dict>
</plist>
