<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method-explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{817,1112}</string>
                <key>spriteSourceSize</key>
                <string>{817,1112}</string>
                <key>textureRect</key>
                <string>{{98,0},{817,1112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,667}</string>
                <key>spriteSourceSize</key>
                <string>{590,667}</string>
                <key>textureRect</key>
                <string>{{915,0},{590,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,664}</string>
                <key>spriteSourceSize</key>
                <string>{1014,664}</string>
                <key>textureRect</key>
                <string>{{0,1112},{1014,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxifangfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,219}</string>
                <key>spriteSourceSize</key>
                <string>{569,219}</string>
                <key>textureRect</key>
                <string>{{1014,1112},{569,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>method.png</string>
            <key>size</key>
            <string>{1583,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f7aba6defe196f000d0e1a9ac61432:673c6894dc942bc30257e386e838f5f4:55071328912814d906d12cb74de7d52d$</string>
            <key>textureFileName</key>
            <string>method.png</string>
        </dict>
    </dict>
</plist>
