<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,667}</string>
                <key>spriteSourceSize</key>
                <string>{590,667}</string>
                <key>textureRect</key>
                <string>{{1014,219},{590,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,664}</string>
                <key>spriteSourceSize</key>
                <string>{1014,664}</string>
                <key>textureRect</key>
                <string>{{0,219},{1014,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>method.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,219}</string>
                <key>spriteSourceSize</key>
                <string>{569,219}</string>
                <key>textureRect</key>
                <string>{{98,0},{569,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>method.png</string>
            <key>size</key>
            <string>{1604,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffa0e8813d2a1fedf05f6ddaaef65fc1:1bcea7192c3312b16b6115074ccb0bbf:55071328912814d906d12cb74de7d52d$</string>
            <key>textureFileName</key>
            <string>method.png</string>
        </dict>
    </dict>
</plist>
