<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,258}</string>
                <key>spriteSourceSize</key>
                <string>{726,258}</string>
                <key>textureRect</key>
                <string>{{1157,0},{726,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,150}</string>
                <key>spriteSourceSize</key>
                <string>{393,150}</string>
                <key>textureRect</key>
                <string>{{371,0},{393,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>member-bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1402,450}</string>
                <key>spriteSourceSize</key>
                <string>{1402,450}</string>
                <key>textureRect</key>
                <string>{{0,258},{1402,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,150}</string>
                <key>spriteSourceSize</key>
                <string>{393,150}</string>
                <key>textureRect</key>
                <string>{{764,0},{393,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trialPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,150}</string>
                <key>spriteSourceSize</key>
                <string>{273,150}</string>
                <key>textureRect</key>
                <string>{{98,0},{273,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>register.png</string>
            <key>size</key>
            <string>{1883,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7f4995ddaf2dcc4885ee76734732ca7:1c22a4da5a75608b2d200eb5f1a6d1a0:10f58ac5a600e28e93ae8487a143e380$</string>
            <key>textureFileName</key>
            <string>register.png</string>
        </dict>
    </dict>
</plist>
