<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changgong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-5}</string>
                <key>spriteSize</key>
                <string>{279,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1643,455},{279,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuangzaozhushen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{271,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1239,455},{271,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chujimodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{207,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{817,1},{207,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chujimofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{305,394}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{411,694},{305,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{209,406}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1221,1},{209,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{331,400}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1,941},{331,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>datianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{327,390}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1209,728},{327,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaojimodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{217,406}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{405,198},{217,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaojimofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{353,386}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{799,1031},{353,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huozhishen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{263,414}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{417,429},{263,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofaxuetu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{195,394}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{421,1},{195,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muzhishen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{217,404}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{813,210},{217,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{249,414}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1,417},{249,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nupu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{193,418}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{241,400}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1635,212},{241,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuizhishen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{327,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1601,736},{327,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{361,394}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1187,1057},{361,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yonghengzhushen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{267,404}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{833,441},{267,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yongren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{227,414}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1219,212},{227,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhigaoshen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{271,408}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1,668},{271,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuizhushen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{209,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1629,1},{209,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhitianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{319,400}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{807,710},{319,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhongjimodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{213,402}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1,196},{213,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhongjimofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{345,394}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{403,1001},{345,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhutianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{375,418}</string>
                <key>spriteSourceSize</key>
                <string>{375,420}</string>
                <key>textureRect</key>
                <string>{{1583,1065},{375,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SkinResource.png</string>
            <key>size</key>
            <string>{2046,1441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b28c8650bb655ccadac37cb6b80da3:cb3e8238e81e3b4ccbc3a090dd8c869d:83ae56a81abd15e6b6ee506301e279fd$</string>
            <key>textureFileName</key>
            <string>SkinResource.png</string>
        </dict>
    </dict>
</plist>
