<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>designation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,54}</string>
                <key>spriteSourceSize</key>
                <string>{116,54}</string>
                <key>textureRect</key>
                <string>{{532,0},{116,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradeDj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{766,0},{118,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nickName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{648,0},{118,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,94}</string>
                <key>textureRect</key>
                <string>{{310,0},{107,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,55}</string>
                <key>spriteSourceSize</key>
                <string>{115,55}</string>
                <key>textureRect</key>
                <string>{{417,0},{115,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{98,0},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top-bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1502,665}</string>
                <key>spriteSourceSize</key>
                <string>{1502,665}</string>
                <key>textureRect</key>
                <string>{{0,229},{1502,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,229}</string>
                <key>spriteSourceSize</key>
                <string>{491,229}</string>
                <key>textureRect</key>
                <string>{{884,0},{491,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,94}</string>
                <key>textureRect</key>
                <string>{{203,0},{107,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top.png</string>
            <key>size</key>
            <string>{1502,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd8c987e42ee3d7789c7581070f322d:568999ed2b90a3fd95fc3d08999be064:ebeee8f59da13818df754e8044b6a295$</string>
            <key>textureFileName</key>
            <string>top.png</string>
        </dict>
    </dict>
</plist>
