<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingbiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1293,134}</string>
                <key>spriteSourceSize</key>
                <string>{1293,134}</string>
                <key>textureRect</key>
                <string>{{0,207},{1293,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,169}</string>
                <key>spriteSourceSize</key>
                <string>{434,169}</string>
                <key>textureRect</key>
                <string>{{0,356},{434,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaibeimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,222}</string>
                <key>spriteSourceSize</key>
                <string>{308,222}</string>
                <key>textureRect</key>
                <string>{{434,356},{308,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,119}</string>
                <key>spriteSourceSize</key>
                <string>{275,119}</string>
                <key>textureRect</key>
                <string>{{550,88},{275,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankaung6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,88}</string>
                <key>spriteSourceSize</key>
                <string>{251,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{251,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,910}</string>
                <key>spriteSourceSize</key>
                <string>{272,910}</string>
                <key>textureRect</key>
                <string>{{1319,356},{272,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,322}</string>
                <key>spriteSourceSize</key>
                <string>{289,322}</string>
                <key>textureRect</key>
                <string>{{1030,356},{289,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{251,0},{224,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{699,0},{224,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,88}</string>
                <key>spriteSourceSize</key>
                <string>{224,88}</string>
                <key>textureRect</key>
                <string>{{475,0},{224,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youbiankuang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,149}</string>
                <key>spriteSourceSize</key>
                <string>{251,149}</string>
                <key>textureRect</key>
                <string>{{1293,207},{251,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxijilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,119}</string>
                <key>spriteSourceSize</key>
                <string>{275,119}</string>
                <key>textureRect</key>
                <string>{{0,88},{275,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,119}</string>
                <key>spriteSourceSize</key>
                <string>{275,119}</string>
                <key>textureRect</key>
                <string>{{275,88},{275,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{923,0},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,910}</string>
                <key>spriteSourceSize</key>
                <string>{276,910}</string>
                <key>textureRect</key>
                <string>{{1591,356},{276,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,322}</string>
                <key>spriteSourceSize</key>
                <string>{288,322}</string>
                <key>textureRect</key>
                <string>{{742,356},{288,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{1614,0},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,88}</string>
                <key>textureRect</key>
                <string>{{1143,0},{220,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,149}</string>
                <key>spriteSourceSize</key>
                <string>{251,149}</string>
                <key>textureRect</key>
                <string>{{1544,207},{251,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuobiankuang6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,88}</string>
                <key>spriteSourceSize</key>
                <string>{251,88}</string>
                <key>textureRect</key>
                <string>{{1363,0},{251,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamePage.png</string>
            <key>size</key>
            <string>{1867,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d0d05fbc604750387c74a1c39e7bf8c:ac1d8b0bcd0b7b1c14b8816b6530f478:e86b7600fa46b3269ceace31bd471b18$</string>
            <key>textureFileName</key>
            <string>gamePage.png</string>
        </dict>
    </dict>
</plist>
